<div class="container mb-4 p-3" style="max-width: 800px">
    <h2 class="text-center">{{usuarios.nombre}} {{usuarios.apellido}}</h2>
    <h6 class="text-center">C.I: {{usuarios.cedula}}</h6>
</div>
<div style="width: 100%">
    {{#each titulos}}
        <div class="container mb-4" style="max-width: 800px">
            <div class="header d-flex justify-content-between">
                <h2>Titulo {{add @index 1}}</h2>
                {{#if estatus}}
                <div class="btn btn-success btn-sm mt-2 d-flex align-items-center">{{estatus}}</div>
                {{else}}
                <div class="btn btn-secondary btn-sm mt-2 d-flex align-items-center">En espera</div>
                {{/if}}
            {{!--                 
                <div class="btn btn-success btn-sm mt-2 d-flex align-items-center">Aprobado</div> 
            --}}

            </div>
            <p class="h6 text-uppercase text-center">{{titulo}}</p>
            <div class="d-flex mt-5">
                <a href="/links/tituloAprobado/{{id}}" class="btnAprobar d-flex justify-content-center m-2 btn btn-success btn-sm mt-2 text-decoration-none">Aprobar</a>
                <a href="/links/delete/{{id}}" class="btnRechazar d-flex justify-content-center m-2 btn btn-danger btn-sm mt-2 text-decoration-none">Rechazar</a>
            </div>
        </div>
    {{else}}
        <div class="container mb-4" style="max-width: 800px">
            <h2 class="text-center" style="color: #777777;">No hay Titulos Creados Aún</h2>
        </div> 
    {{/each}}
</div>